*{
    margin: 0;
    padding: 0;
}
.wraper{
    background: linear-gradient(45deg , rgb(139, 0, 253),rgb(255, 4, 247));
    width: 100%;
    height: 100vh;
    position: absolute;
}
.nav{
    float: right;
    list-style: none;
    margin-top: 40px;
    padding-right:50px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Patrick Hand', arial;
}
.nav li{
    display: inline-block;
}
.nav li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
}
.nav li a:hover{
    background: #fff;
    color: #333;
    border-radius: 4px;
}
.logo{
    margin: 50px;
    padding-left:30px;
    float: left;
    font-size: 15px;
    font-family: 'Lobster', arial;
    color: #fff;
}
span{
    color: yellow;
}
.title{
    clear: both;
}
.title{
    margin: 50px;
    padding-left: 30px;
}
.title img{
    float: right;
    margin: 30px;
    padding: 50px 40px;
}
.title h1{
    padding-top: 150px;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.title p{
    font-size: 20px;
    padding-top: 15px;
    font-family: 'Patrick Hand', arial;
    color: #fff;
}
.btn{
    margin: 50px;
    padding-left:200px; 
    font-family: 'Patrick Hand',arial; 
}
.btn a{
    padding: 10px 20px;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}
.btn a:hover{
    background: #fff;
    color: #000;
}